#projects {
  text-align: center;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
}
.projects-container {
  margin-bottom: 150px;
}
.project-title {
  font-size: 1.5em;
}
.project-description {
  text-align: justify;
}
