.project-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}
.hr {
  width: 1px;
  height: 20px;
  display: inline-block;
}
.article-content {
  display: flex;
  align-items: center;
  margin-left: 8%;
}
.project1 {
  padding-right: 60px;
}
.project2 {
  padding-right: 60px;
}
